html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  perspective: unset;
}

.sidebar {
  width: 300px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.309), 0 0 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 61px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: left 0.5s;
  padding-top: 10px;
  z-index: 110;
}

.sidebar.hide {
  left: -300px;
}

.sidebar-app-btn,
.sidebar-app-list {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.sidebar-app-list .list {
  position: absolute;
  z-index: 100;
  left: 310px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 16px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}

.sidebar-app-list .list.hide {
  display: none;
}

.sidebar-title {
  padding-left: 20px;
  font-weight: 700;
  font-size: 15px;
  height: 50px;
  display: flex;
  align-items: center;
}

.sidebar-app-btn .content,
.sidebar-app-list .lcontent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: black;
}

.sidebar-app-btn .content:hover,
.sidebar-app-list .lcontent:hover {
  background-color: #e6f0ff;
}

.sidebar-app-list .lcontent {
  font-weight: 600;
  font-size: 16px;
}

.sidebar-app-list.selected .lcontent {
  background-color: #e6f0ff;
  color: #005ad9;
}

.sidebar-app-list .lcontent iconify-icon {
  position: absolute;
  right: 10px;
  color: gray;
  font-weight: 900;
}

.button.secondary {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  line-height: 48px;
  color: #005ad9;
}

.button.secondary:hover {
  background: #e6f0ff;
  color: #005ad9;
}

.button.tertiary {
  background: rgba(0, 0, 0, 0.05);
  border: none;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.55);
}

.button.tertiary:hover {
  background: #e6f0ff;
  color: rgba(0, 0, 0, 0.55);
}

.sidebar-app-btn .content iconify-icon {
  margin-right: 10px;
  background-color: rgb(2, 210, 210);
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
}

.nav {
  height: 60px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.309), 0 1px 2px rgba(0, 0, 0, 0.309);
  z-index: 101;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.home-btn {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  user-select: none;
}

.home-btn:hover {
  background-color: rgba(0, 0, 0, 0.128);
}

.home-btn iconify-icon {
  margin-right: 10px;
}

#app {
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 0px;
  width: calc(100% - 300px);
  transition: width 0.5s, background-color 0.5s, filter 0.5s;
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

#app.dark {
  background-color: rgba(0, 0, 0, 0.611);
  filter: brightness(0.6);
}

#app.maximized {
  width: 100%;
}

.nav img {
  position: absolute;
  left: 50%;
  top: 0;
  height: 60px;
  transform: translateX(-50%);
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.w20 {
  position: absolute;
  left: 0;
  width: 200px;
  top: 20px;
  bottom: 0;
}

.w30 {
  width: 30%;
}

.w50 {
  width: 50%;
}

.w70 {
  width: 70%;
}

.w100 {
  width: 100%;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  cursor: default;
}

.card.selected {
  box-shadow: #005ad9 0px 0px 0px 1px;
}

.card.selected h3 {
  color: #005ad9;
}

.card.selected .settings iconify-icon {
  color: #005ad9;
}

.card.selected .settings iconify-icon:hover {
  color: #0049b0;
}

.card .settings iconify-icon:hover {
  color: rgb(63, 63, 63);
}

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card .settings {
  position: absolute;
  right: 10px;
  top: 10px;
  color: gray;
}

.w80 {
  position: absolute;
  left: 200px;
  right: 0px;
  top: 20px;
  bottom: 0;
}

#sapp {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebutton {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s, color 0.2s;
}

.sidebutton:hover {
  color: #005ad9;
}

.sidebutton.selected {
  background-color: #e6f0ff;
  color: #005ad9;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex.center {
  align-items: center;
}

.flex.center input {
  margin-top: 0px;
}


input, select {
  background: none;
  border: none;
  height: 48px;
  border: 1px solid #b3b3b3;
  font-size: 14px;
  background-color: #fff;
  color: #1a1a1a;
  border-radius: 4px;
  padding: 0 10px;
}


search {
  position: absolute;
  border-radius: 2px 2px 4px 4px;
  border: 1px solid #b3b3b3;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

searchitem {
  width: 100%;
  height: 30px;
  user-select: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

searchitem:hover {
  background-color: #e6f0ff;
  color: #006aff;
}

.input:focus {
  border-color: #006aff;
  outline: none;
}

.hsep {
  margin-right: 5px;
  margin-left: 5px;
}

.button {
  position: relative;
  display: inline-block;
  height: 48px;
  min-width: 80px;
  padding: 0 16px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.55);
}

.button.primary.button--is-focused,
.button.primary:focus,
.button.primary:hover {
  background: #005fe5;
  color: #fff;
}

.p10 {
  padding: 10px;
}

.button.primary {
  background: #006aff;
  border: none;
  line-height: 48px;
  color: #fff;
}

.input--icon {
  padding-left: 35px;
}

.input {
  width: 400px;
  position: relative;
}

.input .input--icon:focus+.icon--input {
  color: #005ad9;
}

.input--icon:focus {
  border: 1px solid #005ad9 !important;
}

input.success {
  border: 1px solid #005ad9 !important;
  color: #005ad9;
}

.icon--input {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1a1a1abd;
  z-index: 100;
}

#background.hide {
  display: none !important;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  table-layout: fixed;
  box-sizing: border-box;
  border-collapse: collapse;
}

.table tr:first-child {
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(64, 64, 64);
  padding: 10px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

tr {
  border-bottom: 1px #f2f2f2 solid;
  cursor: default;
}

tr:hover {
  background-color: #e6f0ff;
}

td {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

th {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  color: #1a1a1a;
}