:root {
    --background: whitesmoke;
    --secondary-background: whitesmoke;
    --secondary-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    --card-background: #fff;
    --dock-button-background: whitesmoke;


    --main-text-color: black;
    --secondary-text-color: #ffffff;

    --button-background: #1990f9;
}


body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

#dock {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: var(--secondary-shadow);
    background-color: var(--card-background);
    z-index: 100;
}

.dock-content {
    background-color: var(--card-background);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.flex.left {
    justify-content: left;
}

.focus {
    box-sizing: border-box;
    margin-right: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

.card {
    background-color: var(--card-background);
    box-shadow: var(--secondary-shadow);
    border-radius: 5px;
    overflow: hidden;
    width: 33%;
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 110px;
}

.click {
    cursor: pointer;
    user-select: none;
}

.card.blue {
    background-color: rgb(151, 151, 248);
}

.card.gray {
    background-color: rgb(101, 101, 101);
}

.card h2 {
    margin: 0px;
    padding-top: 15px;
    color: var(--main-text-color);
}

.card h3 {
    color: var(--main-text-color);
}


.card .card-text {
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.card-text {
    background-color: rgb(250, 250, 250);
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.black {
    color: black !important;
}

button.dock-button {
    width: 100%;
    background: none;
    border: none;
    background-color: var(--card-background);
    color: var(--main-text-color);
    box-shadow: none;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    border-right: 1px solid gray;
}

button.dock-button:last-child {
    border: none;
}

.mt10 {
    margin-top: 10px;
}

button {
    background: none;
    border: none;
    background-color: var(--button-background);
    font-size: 30px;
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    color: var(--secondary-text-color);
    box-shadow: var(--secondary-shadow);
    cursor: pointer;
}

button.card {
    background-color: rgb(70, 70, 70);

}

.table {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.table .list {
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
    margin-bottom: 2px;
    cursor: pointer;
    user-select: none;
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
}

.list.selected {
    background-color: var(--button-background);
    color: white;
    border-radius: 5px;
}


.l10 {
    width: 10%;
}

.l20 {
    width: 20%;
}

.l30, .w30 {
    width: 30%;
}

.l50, .w50 {
    width: 50%;
}

.l60 {
    width: 60%;
}

.l70, .w70 {
    width: 70%;
}

.l80, .w80 {
    width: 80%;
}

.l100, .w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.x100 {
    width: 100%;
    height: 100%;
}

.h100 {
    height: 100%;
}

.p10 {
    padding: 10px;
    box-sizing: border-box;
}

.p50 {
    padding: 50px;
    box-sizing: border-box;
}

.flex.xcenter {
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-text-color);
}

.textcenter {
    text-align: center;
}

input.search {
    background-color: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.sm-cart {
    position: relative;
    height: calc(100% - 20px);
    width: 100%;
    background-color: var(--card-background);
    box-shadow: var(--secondary-shadow);
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}



.sm-cart h2 {
    color: white;
    text-align: center;
}

.sm-cart button {
    width: 100%;
    min-height: 0px;
    border-radius: 5px;
}

.abfull {
    overflow: auto;
    height: 85%;
    padding: 10px;
    box-sizing: border-box;
}

.abfull::-webkit-scrollbar {
    width: 0 !important
}

.sm-cart .buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}


.modal {
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-content {
    width: 60%;
    background-color: var(--secondary-background);
    box-shadow: var(--secondary-shadow);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.modal .modal-content hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.modal .modal-content button {
    border-radius: 5px;
    font-size: 20px;
    height: auto;
    min-height: 0px;
    padding: 10px;
}

.keypad {
    position: absolute;
    z-index: 2000;
    width: 300px;
    background-color: rgb(246, 246, 246);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.keypad .card {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 0px;
    font-weight: 600;
    margin: 5px;
    user-select: none;
    cursor: pointer;
    transition: transform 0.05s;

}

.keypad .card.double {
    width: 170px;
}

.keypad .flex {
    justify-content: space-evenly;
}

.keypad .top-span {
    margin: 10px;
    background-color: rgb(100, 100, 100);
    height: 10px;
    width: 60px;
    border-radius: 10px;
}

.input {
    width: 100%;
    height: 60px;
}

.input .textfield {
    background-color: var(--background);
    box-shadow: var(--secondary-shadow);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.input .textfield.focused {
    outline: 3px solid rgb(152, 205, 255);
}

.formGroup {
    align-items: center;
}

.formGroup h2 {
    text-align: center;
    width: 30%;
}

.keypad {
    -ms-touch-action: none;
    touch-action: none;
    top: 0px;
    left: 0px;
}

.touching {
    transform: scale(0.95);
}

.checkout {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--background);
}

.checkout #app {
    width: 70%;
    height: 100%;
}

.checkout .sm-cart {
    height: 100%;
}

.checkout .context {
    width: 30%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.dock-content .card-text {
    margin-bottom: 10px;
    box-shadow: var(--secondary-shadow);
}



button.delete, .cancel {
    background-color: rgb(255, 167, 167);
    color: rgb(187, 34, 34) !important;
}



#cartItem {
    z-index: 1001;
}

button.secondary {
    background-color: #d9edff;
    color: #1990f9;
}

.modal .header {

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(195, 195, 195);
    padding-bottom: 10px;
    position: relative;
    height: 80px;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

iconify-icon[ icon="ep:close-bold"] {
    background-color: rgb(215, 215, 215);
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

iconify-icon[ icon="ep:close-bold"]:hover {
    background-color: rgb(172, 172, 172);

}

.closetag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    top: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}

.clientcard {
    box-shadow: var(--secondary-shadow);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.table-result, .mark {
    box-shadow: var(--secondary-shadow);
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.w30{
    width: 30%;
}

.w70{
    width: 70%;
}

.sidebar{
    background-color: var(--card-background);
    z-index: 10;
    box-shadow: var(--secondary-shadow);
}

.sidebar .link{
    font-size: 30px;
}